header {
    width: 100%;
    margin: auto;
}

main {
    width: 800px;
    margin: auto;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
    word-spacing: -2px;
    text-decoration: overline;
    text-shadow: -1px 0px 20px #456879;
    color: #222;
    font-family: 'Poppins', sans-serif;
    font-weight: 1000;
    margin-bottom: 45px;
    margin-top: 30px;
}

p {
    text-align: justify;
    line-height: 1.4;
    text-indent: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #444,
}
