// My first mixins
// Reset list style mixin
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Center content mixin
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Size for box mixin
@mixin size-for-divs {
  width: 4rem;
  height: 4rem;
}

// Hide element mixin
@mixin hidden {
  visibility: hidden;
}

// Show element mixin
@mixin show {
  visibility: visible;
}

@mixin fade-in($time) {
  animation-name: fade-in;
  animation-duration: #{$time};
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
